<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @instructor.name %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @instructor.mobile %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @instructor.bio %>
</p>
<p>
	<strong>Courses</strong>
	<% @instructor.courses.each do |course| %>
	<h3> <%= course.name %> </h3>

	<% if course.students.empty? %>
	<p> <h6>No students yet</h6></p>
	<%else%>
	<h4>students enrolled(<%=course.students.length%>)</h4>
	<%  course.students.each do |student| %>
	<li><%= student.name %>	</li>
	<%end%>	
	<%end%>
	<%end%>
</p>

<%= link_to 'Edit', edit_instructor_path(@instructor) %> |
<%= link_to 'Back', instructors_path %>
